.CFUserTextEncoding
.DS_Store
.RSA/
.Seagate
.TeXmacs/
.Trash
.Xauthority
.arm/
.bash_history
.bash_profile
.bash_sessions/
.bashrc
.cache/
.codeintel/
.config/
.cups/
.cvspass
.dbshell
.dbus/
.docker/
.dropbox-master/
.dropbox/
.ds-5/
.dvdcss/
.eclipse
.emacs.d/
.flexlmrc
.fontconfig/
.fonts/.uuid
.fonts/encodings.dir
.fonts/fonts.dir
.fonts/fonts.list
.fonts/fonts.scale
.gconf/
.gconfd/
.gdbinit
.gitignore_global
.gitk
.gnucash/
.gnuplot_history
.hgignore_global
.histfile
.hunter/
.hyper.js
.hyper_plugins/
.idlerc/
.ido.last
.inputrc
.ipython/
.jspm/
.jupyter/
.lesshst
.lldb/
.local/
.macports/
.matlab/
.matplotlib/
.mongorc.js
.mplayer/
.mume/
.mysql_history
.nedit/
.node-gyp/
.node_repl_history
.npm
.nutstore/
.nvm/
.octave_hist
.oracle_jre_usage/
.p2/
.pip/
.pm2/
.profile
.puppeth/
.pylint.d/
.python-eggs/
.python_history
.recentf
.recently-used.xbel
.rnd
.scapy_history
.serverauth*
.sh_history
.smex-items
.ssh/known_hosts
.ssh2/
.subversion/
.swt/
.vim/cscope*
.viminfo
.vim/autoload
.vim/plugged
.vinevncauth
.vscode
.w3m/
.wireshark/
.wns/
.zcompdump
Applications/
Cloud/
Cloud_backup/
Documents/
Education/
Library/
Movies/
Music/
MyVault.hvault/
Nutstore Files/
Pictures/
Projects
Public/
Share/
Sites/
VirtualMachine/
archiver/
bin
case
cloud_src/
comic/
desktop
downloads
fix_simulator
framework_3g
gopath/
lte_t2k_meta
mindspeed
other_project
project/
usrbin/gvim
usrbin/gvimdiff
work
workspace
