.bash_history
.bash_profile
.cache/
.config/
.dbus/
.fonts_backup/
.gitk
.gitmodules
.gnuplot_history
.histfile
.ido.last
.inputrc
.lesshst
.nedit/
.recentf
.smex-items
.ssh/known_hosts
.ssh2/
.vim/bundle
.vim/cscope*
.viminfo
.w3m/
.zcompdump
bin
desktop
downloads
fix_simulator
framework_3g
mindspeed
lte_t2k_meta
other_project
work

.CFUserTextEncoding
.RSA/
.Xauthority
.arm/
.codeintel/
.cups/
.cvspass
.dropbox-master/
.dropbox/
.ds-5/
.dvdcss/
.flexlmrc
.fontconfig/
.gconf/
.gconfd/
.gitignore_global
.gnucash/
.hgignore_global
.idlerc/
.macports/
.matlab/
.nutstore/
.pip/
.python-eggs/
.recently-used.xbel
.rnd
.sh_history
.subversion/
.swt/
.vinevncauth
Applications/
Cloud/
Cloud_backup/
Documents/
Education/
Library/
Movies/
Music/
Pictures/
Public/
Share/
Sites/
VirtualMachine/
comic/
project/
