.bash_history
.bash_profile
.cache/
.config/
.dbus/
.fonts_backup/
.gitk
.gitmodules
.gnuplot_history
.histfile
.ido.last
.inputrc
.lesshst
.nedit/
.recentf
.smex-items
.ssh/known_hosts
.ssh2/
.vim/bundle
.vim/cscope*
.viminfo
.w3m/
.zcompdump
bin
desktop
downloads
fix_simulator
framework_3g
mindspeed
lte_t2k_meta
other_project
work
